# Bağımlılıklar
/node_modules
/.pnp
.pnp.js

# Test
/coverage

# Next.js
/.next/
/out/

# Üretim derlemesi
/build

# Çeşitli
.DS_Store
*.pem

# Hata kayıtları
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ortam değişkenleri (şifreler burada, asla repoya gitmemeli)
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
